img {
    width: 100%;
    margin: auto;
    display: block;
    display: flex;
    justify-content: center;
}



.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}




.box {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
}
