.box {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
}

.example {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 150px;
}


.display {
    display: flex;
    width: auto;
    height: 300px;
    justify-content: center;
}


img {

    width: 80%;
    margin: auto;

    justify-content: center;
}


.required {
    color: red;
}


.ShoppingTable {
    
    width: 500px;
    border-spacing: 2px;
}


.add-to-cart {
    height: 150px;
    text-align: center;
}


.single-publication {
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    margin-bottom: 30px;
    position: relative;
    
}


.single-publication .publication-content {
    text-align: center;
    height: 120px;
    padding: 20px;
}



.single-publication .publication-content h3 {
    font-weight: 600;
    margin: 8px 0 10px;
    font-size: 20px;
}



.single-publication .publication-content .price {
    font-size: 18px;
    color: #757575;
}

.single-publication .publication-content .price span {
    color: #6f6f6f;
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: 300;
}

.single-publication .add-to-cart {

    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;

}

.single-publication .category {
    margin: 0;
}


.single-publication .button-def{
    margin-top:10px
}