body,html {
    margin: 0;
    padding: 0;
    background-color:#FDEBD0  ;
}
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .left {
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
 }
 
 .right {
    float: right;
    margin-left: 300px;
    margin-bottom: 100px;
 }
 
 