<!DOCTYPE html>
<html>

<head>
    <title>Administrator</title>
</head>

<body>

    <h1>8====D</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore cumque, quidem laboriosam, similique modi
        aspernatur
        esse ad iure officia voluptas blanditiis necessitatibus voluptatem, vitae iste pariatur labore. Omnis, similique
        explicabo.</p>
        <h1>น้อมคำนับท่านเทพผู้สูงส่ง</h1>
        <img src="../static/2Q.png" alt=""><br>
        <a href="/products_manage">Manage Product</a>
        <a href="/logout">logout</a>
  
</body>

</html>