<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap&subset=thai" rel="stylesheet">

  <title>กล่องจ่ายยาอัตโนมัติ</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://unpkg.com/@erwinstone/input-touchspin@1.0.3/dist/input-touchspin.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    .myDiv {
      height: 55px;
      background-color: #e7a7d9;
      text-align: center;
    }

    /* Make the container wider */
    .container {
      max-width: 800px;

    }

    .clock {
      font-family: system-ui;
      color: white;
      font-size: 16px;
      text-align: right;
    }

    p {
      font-family: 'Sriracha', cursive;
      font-size: 32px;
      color: #e7a7d9;
      text-align: right;
    }

    .led-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 300px;
  overflow: hidden;
}

.led-sign ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  animation: led 10s linear infinite;
}

.led-sign ul li {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}


    @keyframes led {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-78%);
      }
    }
  </style>

</head>

<body style="background-color: #0a3abd;">
  <div class="myDiv">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4">
          <a href="/login">
            <img src="../static/logo.png" alt="logo" style="height: 55px;">
          </a>
        </div>
        <div class="led-sign col-12 col-sm-8 text-container text-right">
          <ul>
            <li>เข้าสู่ระบบแอดมิน</li>
           
          </ul>
          <div class="clock" id="clock" onload="clock"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-12" style="margin-top: 20px;" id="Inactive">
    <div style="background-color:white;height: 310px; display: flex;">
      <div style="flex: 2; width:85%;">
        <video id="myVideo" style="height: 310px; width: 100%;" autoplay loop muted>
          <source src="../static/hammie boye v2 - new and improved.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      
        
      </div>
    <div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-left: 20px;">
      <br>
      <p>โปรดแตะที่จอ<br>เพื่อเลือกซื้อสินค้า</p>
      <br>
      <img src="../static/finger.gif" alt="point finger" style="height: 190px;">
    </div>
  </div>
</div>
  
  <div id="Active">
    <div class="container">
      <div class="row">
        <p>
        <h2>Shopping Cart using Python Flask MySQL</h2>
        </p>
        <div>
          <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          </div>
          {% if 'cart_item' in session %}
          <p><a id="btnEmpty" href="{{ url_for('.empty_cart') }}" class="btn btn-danger">Empty Cart</a></p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Unit Price</th>
                <th class="text-center">Price</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {% for key, val in session['cart_item'].items() %}
              {% set quantity = session['cart_item'][key]['quantity'] %}
              {% set price = session['cart_item'][key]['price'] %}
              {% set item_price = session['cart_item'][key]['total_price'] %}
              <tr>
                <td>
                  <div class="media">
                    <a class="thumbnail pull-left" href="#"> <img class="media-object"
                        src="/static/images/product-images/{{ session['cart_item'][key]['image'] }}"
                        style="width: 72px; height: 72px;"> </a>
                    <div class="media-body">
                      <h4 class="media-heading"> <a href="#">{{ session['cart_item'][key]['name'] }}</a></h4>
                      <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                      <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                    </div>
                  </div>
                </td>
                <td style="text-align: center">
                  <input type="email" class="form-control" value="{{ quantity }}">
                </td>
                <td class="text-center"><strong>${{ price }} </strong></td>
                <td class="text-center"><strong>${{ item_price }} </strong></td>
                <td>
                  <a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}"
                    class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                  </a>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="4">
                  <h5>Total Quantity</h5>
                </td>
                <td class="text-right">
                  <h5><strong>{{ session['all_total_quantity'] }}</strong></h5>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <h3>Total</h3>
                </td>
                <td colspan="2" class="text-right">
                  <h3><strong>$ {{ session['all_total_price'] }}</strong></h3>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-success">
                    Checkout <span class="glyphicon glyphicon-play"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          {% else: %}
          <div class="no-records">Your Cart is Empty</div>
          {% endif %}
        </div>
      </div>
    </div>

    <section class="our-publication pt-100 pb-70">
      <div class="container">
        <div class="section-header">
          <i class="fa fa-book"></i>
          <h2>Our Product</h2>
          <p>และนี่คือสินค้าของพวกเรา</p>
        </div>

        <div id="product-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for product in products %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                <form method="post" action="/add">
                  <div class="single-publication">
                    <figure class="display">
                      <img src="/static/upload/{{ product.image }}" class="image">
                    </figure>
                    <div class="publication-content">
                      <span class="category">{{ product.product_category }}</span>
                      <h3>{{ product.product_name }}</h3>
                      <h4 class="price">฿ {{ product.price }}</h4>
                    </div>
                    <div class="add-to-cart">
                      <input type="hidden" name="code" value="{{ product.code }}" />
                      <div class="touchspin d-flex align-items-center gap-2">
                        <button type="button" class="btn btn-danger" data-touchspin-down>-</button>
                        <input type="number" class="form-control text-center" name="quantity" value="1" min="0"
                          max="{{ product.quantity }}" data-touchspin-input />
                        <button type="button" class="btn btn-success" data-touchspin-up>+</button>
                      </div>
                      <div class="button-def">
                        <button type="button" class="btn btn-info">Detail</button>
                        <input type="submit" value="Add to Cart" class="btn btn-warning" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        
      </div>
    </section>
  </div>
</body>


<script>
  function updateClock() {
    let now = new Date();
    let day = now.toLocaleDateString('en-GB', { day: '2-digit' });
    let month = now.toLocaleDateString('en-GB', { month: '2-digit' });
    let year = now.toLocaleDateString('en-GB', { year: 'numeric' });
    let dayOfWeek = now.toLocaleDateString('th-TH', { weekday: 'long' });
    let time = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
    document.getElementById('clock').innerHTML = dayOfWeek.toUpperCase() + '|' + time + '<br>' + day + '-' + month + '-' + year;
  }

  updateClock();
  setInterval(updateClock, 1000);
</script>

<script src="{{url_for('static', filename='script/main.js')}}"></script>