<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styling">

    <title>กล่องจ่ายยาอัตโนมัติ</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .myDiv {
            height: 30px;
            background-color: #D67DC2;    
            text-align: center;
        }
        /* Make the container wider */
        .container {
            max-width: 800px;
        }
    </style>
    
</head>
<body style="background-color: #CDDAFD;">
    <div class="myDiv">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <a href="/login">
            <p1 style="text-align:center;color:#FFFFFF; font-size:18px">เครื่องจ่ายยาอัตโนมัติ</p1>
        </a>
          </div>
          <div class="col-12 col-sm-9 text-container text-right">
            <marquee scrolldelay="150" style="color:#FFFFFF; font-size:18px">เข้าสู่ระบบ(แอดมิน)</marquee>
          </div>
        </div>   
      </div>
      <div class="col-12 col-sm-12" style="margin-top: 20px;">
        <div style="background-color:white;height: 340px; display: flex;">
          <div style="flex: 1;">
            <img src="../static/Sunset.jpg" alt="Sunset display" style="height: 340px;">
          </div>
          <div style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding-left: 20px;">
            <p style="font-size: 30px;">โปรดแตะที่จอ<br>เพื่อเลือกซื้อสินค้า</p><br><img src="../static/pointingfingerhandpointing.jpg"alt="point finger" style="height: 200px;">
          </div>
        </div>
      </div>
    </div>
  </body>
  
