<html>
<title>Administrator Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<style>
    
    /* Center the white container */
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body{
        background-image: url("../static/japanesecastle.png");
        height: 400px;
        width: 800px;
    }
</style>
<body>
    <div class="myDiv">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <a href="/login">
                        <img src="../static/logo.png" alt="logo" style="height: 55px;">
                    </a>
                </div>
                <div class="clock" id="clock">/</div>
            </div>   
        </div>
        <div class="container h-120" style="background-image: linear-gradient(to bottom, #fce4ec, #f8bbd0, #f48fb1, #f06292, #ec407a, #e91e63, #d81b60, #c2185b);">
            <h4 align="center">เข้าสู่ระบบ</h4>
            <br>
            <div class="d-flex justify-content-center h-100">
                <div>
                    <div class="d-flex justify-content-center">
                        <form method="post" action="/submit">
                            <div class=" mb-3">
                                <input type="text" name="UsernameInput" placeholder="username" required class="form-control input_user">
                            </div>
                            <br>
                            <div class="mb-2">
                                <input type="password" name="PasswordInput" placeholder="Password" autocomplete="off" required class="form-control input_pass" value="">
                            </div>
                            <br>
                            <div class="d-flex justify-content-center mt-3">
                                <input type="submit" value="Login" class="btn">
                            </div>
                        </form>
                    </div>

                    <div class="mt-4">
                        <div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <a href="/"><button>กลับไปหน้าแรก</button></a>
            </div>
        </div>
    </div>
</body>
</html>
