<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Product Manage</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
            background-color: #03A9F4;
        }

        .clock {
            font-family: system-ui;
            color: rgb(255, 255, 255);
            font-size: 16px;
            text-align: center;
            padding-right: 5px;
        }

        td {
            height: 70px;
        }

        .navbar {
            background-color: #065488;
        }

        .nav-item {
            border-right: 1px solid #84B6D0;
        }

        .nav-link {
            color: #FFFFFF;
        }

        .main-panel {
            padding-top: 3%;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 3%;
            border: 1px solid #BDBDBD;
            background-color: #FFFFFF;
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;

        }

        .about {
            margin-top: 5%;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Icon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white active" aria-current="page" href="/homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        {% if 'Shoppingcart' in session %}
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#Cart"> Shopping Cart: ({{
                            session['Shoppingcart']|length }})</a>
                        {% else %}
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#Cart"> Shopping Cart: (0)</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="clock flex-nowrap" id="clock" onload="clock"></div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            ยินดีต้อนรับคุณ {{ user['first_name'] }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">ข้อมูลผู้ใช้</a></li>
                            {% if 'admin' in session %}
                            <li><a class="dropdown-item" href="/admin">จัดการระบบ (Admin)</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/logout">ออกจากระบบ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="Cart">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Shopping Cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        {% set max_value = 3%}
                        {% if 'Shoppingcart' in session %}
                        <thead>
                            <th></th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            {% for Cart_list in session['Shoppingcart'] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><img src="/static/upload/{{ Cart_list.image }}" class="display"
                                        alt="{{Cart_list.product_name}}">
                                </td>
                                <input type="hidden" name="cart_item_id" value="{{ Cart_list.cart_item_id }}" />
                                <input type="hidden" name="product_id" value="{{ Cart_list.product_id }}" />
                                <td>{{Cart_list.product_name}}</td>
                                <form action="{{url_for('update_cart_item', cart_item_id=Cart_list.cart_item_id)}}"
                                    method="POST">
                                    <td>${{"%.2f"|format(Cart_list.price)}}</td>
                                    <input type="hidden" name="cart_item_id" value="{{ Cart_list.cart_item_id }}" />
                                    {% for product in products %}
                                    {% if product.stock < max_value %} {% set max_value=product.stock%} {% endif %}{%
                                        endfor %} <td>
                                        <input type="number" name="cart_quantity" min="1" max="{{ max_value }}"
                                            value="{{ Cart_list.quantity|default('1') }}">
                                        </td>

                                        {% set Subtotal = Cart_list.quantity | int * Cart_list.price| int%}
                                        <td>{{ Subtotal }}</td>
                                        <td><button type="submit" class="btn btn-sm btn-info">Update</button> </td>
                                </form>
                                <td><a href="{{ url_for('delete_cart_item', cart_item_id=Cart_list.cart_item_id) }}"
                                        class="btn btn-danger btn-sm">Remove</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else: %}
                        <div>
                            <h3>Your Cart is Empty</h3>
                        </div>
                        {% endif %}
                    </table>
                    <table class="table table-sm">
                        {% if 'Shoppingcart' in session %}
                        <tr>
                            <td> <a href="{{url_for('transaction')}}" class="btn btn-success"> Order now </a> </td>
                            <td width="35%"></td>
                            <td>
                                <h5>Total Quantity: {{ session['Shoppingcart'][0]['total_quantity'] }}</h5>
                            </td>
                            <td>
                                <h5>Total Price: ฿{{ session['Shoppingcart'][0]['total_price'] }}</h5>
                            </td>
                            <td> <a href="{{url_for('empty_cart')}}" class="btn btn-danger  float-right "> Clear
                                    cart</a>
                            <td></td>
                        </tr>
                        {% else: %}
                        {% endif %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                    </button></td>
                </div>
            </div>
        </div>
    </div>


    <div class="main-panel">
        <div class="card" style="padding-left: 10px; padding-right: 10px;">
            <h1 class="card-header text-center">Products Management</h1>

            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-4">
                    <h2>Products List</h2>
                </div>
                <div class="col ">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal">Add
                        Products</button>
                </div>
            </div>
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                </button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}

            <!-- Add Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title text-primary" style="align-content: center;">Please Add New Product
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">

                            <form name="Add" enctype="multipart/form-data" action="{{ url_for('product_add')}}"
                                onsubmit="return validateForm()" method="POST">
                                <div class="form-group">
                                    <label>Product Name <span class="required"> * </span> </label>
                                    <input type="text" name="product_name" class="form-control"
                                        placeholder="Enter Product Name">
                                </div>

                                <div class="form-group">
                                    <label>Price<span class="required"> * </span> </label>
                                    <input type="text" name="price" class="form-control price"
                                        placeholder="Enter Price">
                                </div>

                                <div class="form-group">
                                    <label>In-Stock <span class="required"> * </span> </label>
                                    <input type="number" name="stock" class="form-control" placeholder="Enter Quantity">
                                </div>

                                <div class="form-group">
                                    <label>Row <span class="required"> * </span></label>
                                    <div class="form-check">
                                        <input type="radio" name="row" id="num1" class="form-check-input" value="1">
                                        <label class="form-check-label" for="num1">1</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="row" id="num2" class="form-check-input" value="2">
                                        <label class="form-check-label" for="num2">2</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="row" id="num3" class="form-check-input" value="3">
                                        <label class="form-check-label" for="num3">3</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Category <span class="required"> * </span></label>
                                    {% for cate in categories %}
                                    <div class="form-check">
                                        <input type="radio" name="category" class="form-check-input"
                                            id="{{ cate.category_id }}" value="{{  cate.category_id }}">
                                        <label class="form-check-label" for={{ cate.category_id }}>{{
                                            cate.category_name }}</label>
                                    </div>
                                    {% endfor %}
                                </div>


                                <div class="form-group">
                                    <label>Choose Images: <span class="required"> * </span> </label>
                                    <input type="file" name="image" class="form-control fileInput">
                                </div>


                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="description" id="description" class="form-control" rows="6"
                                        placeholder="Enter your message"></textarea>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary mb-2 Save">Save</button>

                            </form>


                        </div>
                    </div>
                </div>

            </div>


            <!-- End of Add Modal -->




            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col" width="20%">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">In-Stock</th>
                        <th scope="col">Row</th>
                        <th scope="col">Category</th>
                        <th scope="col" width="30%">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in products %}
                    <tr>
                        <td>{{data.product_id}}</td>
                        <td class="box"><img src="/static/upload/{{ data.image }}" class="image"></td>
                        <td>{{data.product_name}}</td>
                        <td>{{ "{:,.2f}".format(data.price) }}</td>
                        <td>{{data.stock}}</td>
                        <td>{{data.row}}</td>
                        <td>{{data.category_name}}</td>
                        <td>{{data.description}}</td>
                        <td>
                            <a href="/update/{{data.product_id}}" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modaledit{{data['product_id']}}">Edit</a>
                            <a href="/delete/{{data.product_id}}" onclick="return confirm('Are Sure Want To Deleted ?')"
                                class="btn btn-danger btn-sm">Delete</a>

                        </td>
                    </tr>


                    <!-- Edit Modal -->
                    <div id="modaledit{{data.product_id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title text-primary" style="align-content: center;">Update Product
                                        Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                                <div class="modal-body">
                                    <form enctype="multipart/form-data" action="{{ url_for('upload')}}" method="POST">
                                        <div class="form-group">
                                            <div class="example"><img id="image-preview"
                                                    src="/static/upload/{{ data.image }}" style="z-index: 999;"></div>
                                            <input value="{{data.product_id}}" type="hidden" name="product_id_image">
                                            <label>Choose Images: <span class="required"> * </span></label>
                                            <input type="file" id="input-image" onchange="handleFileSelect(event)"
                                                name="image" class="form-control fileInput"
                                                style="margin-bottom: 15px;">
                                            <input type="submit" class="btn btn-primary mb-2" value="Upload">
                                        </div>
                                    </form>
                                    <form enctype="multipart/form-data" action="{{ url_for('update')}}" method="POST">
                                        <input value="{{data.product_id}}" type="hidden" name="product_id">
                                        <div class="form-group">
                                            <label>Product Name <span class="required"> * </span></label>
                                            <input value="{{data.product_name}}" type="text" name="product_name"
                                                class="form-control" placeholder="Enter Product Name">
                                        </div>

                                        <div class="form-group">
                                            <label>Price<span class="required"> * </span> </label>
                                            <input value="{{data.price}}" type="text" name="price"
                                                class="form-control price" placeholder="Enter Price">
                                        </div>

                                        <div class="form-group">
                                            <label>Quantity <span class="required"> * </span></label>
                                            <input value="{{data.stock}}" type="number" name="stock" min=0
                                                class="form-control" placeholder="Enter Quantity">
                                        </div>

                                        <div class="form-group">
                                            <label>Row <span class="required"> * </span></label>
                                            <div class="form-check">
                                                <input type="radio" name="row" id="num1" class="form-check-input"
                                                    value="1" {{'checked' if data.row==1 else '' }}>
                                                <label class="form-check-label" for="num1">1</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="row" id="num2" class="form-check-input"
                                                    value="2" {{'checked' if data.row==2 else '' }}>
                                                <label class="form-check-label" for="num2">2</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" name="row" id="num3" class="form-check-input"
                                                    value="3" {{'checked' if data.row==3 else '' }}>
                                                <label class="form-check-label" for="num3">3</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Category <span class="required"> * </span></label>
                                            {% for cate in categories %}
                                            <div class="form-check">
                                                <input type="radio" name="category" class="form-check-input"
                                                    id="{{ cate.category_id }}" value="{{  cate.category_id }}"
                                                    {{'checked' if data.category_id==cate.category_id else '' }}>
                                                <label class="form-check-label" for={{ cate.category_id }}>{{
                                                    cate.category_name }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea name="description" id="description" class="form-control" rows="6"
                                                placeholder="Enter your message">{{ data.description }}</textarea>

                                        </div>
                                        <br>
                                        <input type="submit" class="btn btn-success mb-2" id="submit-form"
                                            value="Update">

                                    </form>


                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- End of Edit Modal -->




                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>



    <div class="col-sm-2"></div>

    </div>
    </div>
    <div class="about">
        <h1>Quote of the day: live life</h1>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-snapchaty"></i>
            <i class="fa fa-pinterest-p "></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    <script>
        //thousand separator
        new AutoNumeric.multiple('.price', {
            styleRules:
                AutoNumeric.options.styleRules.positiveNegative,
        });


        // File type validation
        $(document).ready(function () {

            $(".fileInput").change(function () {
                var fileLength = this.files.length;
                var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
                var i;
                for (i = 0; i < fileLength; i++) {
                    var file = this.files[i];
                    var imagefile = file.type;
                    if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
                        alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                        $(this).val('');
                        console.log(file)
                        return file;
                    }
                }
            });
        });


        $(document).ready(function () {
            $('.Save').bind("click", function () {
                var inputs = $('.fileInput');
                var hasSelected = false;
                inputs.each(function () {
                    if ($(this).val() !== '') {
                        hasSelected = true;
                        return false; // exit loop early
                    }
                });
                if (!hasSelected) {
                    alert("Please Select the Image.");
                    return false;
                }
            });
        });


        function validateForm() {
            a = document.forms['Add'].product_name.value
            b = document.forms['Add'].price.value
            c = document.forms['Add'].stock.value
            d = document.forms['Add'].row.value
            d = document.forms['Add'].category.value
            if (a == "" || b == "" || c == "" || d == "" || e == "") {
                alert("Please fill the all required Inputs!");
                return false;
            }
            return true;
        }

        function handleFileSelect(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('image-preview');
                if (output) {
                    output.src = reader.result;
                    console.log(output)
                }
            };
            reader.readAsDataURL(event.target.files[0]);
        }

    </script>

</body>

</html>