<html>
<title>Register</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<style>
    .container {
        margin: 0 auto;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body {
        background-color: #03A9F4;
        height: 400px;
        width: 800px;
    }

    .submit-form {
        text-align: center;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>

<body>

    <div class="container py-5 h-100 text-left">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row ">
                        <div class="col-xl-6 ">
                            <div class="card-body p-md-5 text-white shadow" style="background-color: #065488;">
                                <h3 class="mb-3 text-uppercase">Registration form</h3>
                                <h4 class="text-uppercase" style="padding-bottom: 20px;">ข้อมูลทั่วไป</h4>
                                <form name="Register" enctype="multipart/form-data" action="{{ url_for('register')}}"
                                    method="POST">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="first_name">ชื่อ</label>
                                                <input type="text" id="first_name" name="first_name"
                                                    class="form-control form-control-lg" placeholder="ชื่อ">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="last_name">นามสกุล</label>
                                                <input type="text" id="last_name" name="last_name"
                                                    class="form-control form-control-lg" placeholder="นามสกุล">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 form-label">ชื่อผู้ใช้</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-lg" name="username"
                                                    id="username" placeholder="ชื่อผู้ใช้" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="password">รหัสผ่าน</label>
                                                <input type="text" id="password" name="password"
                                                    class="form-control form-control-lg" placeholder="รหัสผ่าน" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="confirm_password">ยืนยันรหัสผ่าน</label>
                                                <input type="text" id="confirm_password" name="confirm_password"
                                                    class="form-control form-control-lg" placeholder="ยืนยันรหัสผ่าน" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <h6 class="mb-1 me-4">เพศ: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input ml-2" type="radio" name="gender"
                                                id="femaleGender" value="female" />
                                            <label class="form-check-label" for="femaleGender">หญิง</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="gender"
                                                id="maleGender" value="male" />
                                            <label class="form-check-label" for="maleGender">ชาย</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input class="form-check-input" type="radio" name="gender"
                                                id="otherGender" value="other" />
                                            <label class="form-check-label" for="otherGender">อื่นๆ</label>
                                        </div>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="text" id="email" name="email" class="form-control form-control-lg"
                                            placeholder="Email">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="blood_type">กรุ๊ปเลือด</label>
                                                <select class="custom-select custom-select-lg" id="blood_type"
                                                    name="blood_type">
                                                    <option></option>
                                                    <option value="O">O</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="AB">AB</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="age">อายุ</label>
                                                <input type="text" id="age" name="age"
                                                    class="form-control form-control-lg" placeholder="อายุ">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="weight">น้ำหนัก</label>
                                                <input type="text" id="weight" name="weight"
                                                    class="form-control form-control-lg" placeholder="น้ำหนัก">
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="height">ส่วนสูง</label>
                                                <input type="text" id="height" name="height"
                                                    class="form-control form-control-lg" placeholder="ส่วนสูง">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="ethnicity">สัญชาติ</label>
                                        <input type="text" id="ethnicity" name="ethnicity"
                                            class="form-control form-control-lg" placeholder="สัญชาติ">
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="congenital_disease">โรคประจำตัว</label>
                                        <input type="text" id="congenital_disease" name="congenital_disease"
                                            class="form-control form-control-lg" placeholder="โรคประจำตัว">

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="drug_allergy">แพ้ยา</label>
                                        <input type="text" id="drug_allergy" name="drug_allergy"
                                            class="form-control form-control-lg" placeholder="แพ้ยา">

                                    </div>

                                    <div class="submit-form">
                                        <button type="submit"
                                            class="btn btn-warning btn-lg btn-block">สมัครสมาชิก</button>
                                        <a href="/" class="btn btn-light btn-lg btn-block">ย้อนกลับ</a>
                                    </div>
                            </div>

                        </div>
                        <div class="col-xl-6 " style="padding-top: 100px;">
                            <h4 class="text-uppercase">ข้อมูลการติดต่อ</h4>
                            <div class="card-body text-black">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="phone_no">เบอร์โทรศัพท์</label>
                                    <input type="text" id="phone_no" name="phone_no" placeholder="เบอร์โทรศัพท์"
                                        class="form-control form-control-lg">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="province">จังหวัด</label>
                                            <select class="custom-select custom-select-lg" id="province"
                                                name="province">
                                                <option></option>
                                                {% for provinces in prov %}
                                                <option value="{{ provinces.id }}">{{ provinces.name_th }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="amphure">อำเภอ</label>
                                            <select class="custom-select custom-select-lg" class="form-control"
                                                id="amphure" name="amphure">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="district">ตำบล</label>
                                            <select class="custom-select custom-select-lg" class="form-control"
                                                id="district" name="district">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="post_code">รหัสไปรษณีย์</label>
                                            <input type="text" id="post_code" name="post_code"
                                                placeholder="รหัสไปรษณีย์" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="address">ที่อยู่</label>
                                    <textarea class="form-control form-control-lg" rows="3" placeholder="ที่อยู่"
                                        id="address" name="address"></textarea>

                                </div>
                            </div>
                        </div>
                        </form>





                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
    </div>
    <script>
        province_select = document.getElementById('province');
        amphure_select = document.getElementById('amphure');
        district_select = document.getElementById('district');

        province_select.onchange = function () {
            province = province_select.value;
            fetch('amphure/' + province).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = '';
                    optionHTML += '<option value=" "</option>';
                    for (amphure of data.amphureprovince) {
                        optionHTML += '<option value="' + amphure.id + '">' + amphure.name + '</option>'
                    }
                    amphure_select.innerHTML = optionHTML;
                });
            });
        }

        amphure_select.onchange = function () {
            amphure = amphure_select.value;
            fetch('district/' + amphure).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = '';
                    optionHTML += '<option value=" "</option>';
                    for (district of data.districtamphure) {
                        optionHTML += '<option value="' + district.id + '">' + district.name + '</option>'
                    }
                    district_select.innerHTML = optionHTML;
                });
            });
        }

    </script>
</body>

</html>