<html>

<head>
    <title>Transaction QR Code</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        /* Center the white container */
        .container {
            max-width: 500px;
            margin-top: 10%;
            margin-bottom: 10%;
            padding: 20px;
            border-radius: 10px;
            white-space: nowrap;
        }

        body {
            background-color: #03A9F4;
        }

        td {
            width: 70%;
        }
    </style>
</head>

<body>
    <div class="container justify-content-center text-center " style="background-color: white;">
        <img src="/static/success.png" style="height: 40%; padding-bottom: 30px;">
        <h1><b>ขอบคุณที่ใช้บริการ</b></h1><br>
        <a href="/homepage" class="btn btn-light btn-lg btn-block">กลับสู่หน้าหลัก</a>

    </div>
</body>

</html>