<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testing</title>
</head>

<body>
    <h1>
        He Hee
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consectetur, assumenda error nostrum odit deleniti
        velit quam ratione necessitatibus itaque provident nam cupiditate maxime, sapiente repellendus iusto ducimus
        eligendi id?
    </p>

    <form action="{{url_for('test')}}" method="POST">
        <button>Mail </button>
    </form>

</body>

</html>